<div class="row" id="info">
<div class="col-md-12">
<img src="{{recetaSeleccionada?.imagenUrl}}" alt="" class="img-responsive">
</div>
</div>
<div class="row">
<div class="col-md-12">
<h1>{{recetaSeleccionada?.nombre}}</h1>
</div>
<div class="col-md-12">
<button class="btn btn-success" (click)="anadirAListaCompra()">Añadir a la lista de la compra</button>
<button class="btn btn-primary" (click)="editar()">Editar</button>
<button class="btn btn-danger" (click)="eliminar()">Eliminar</button>
</div>
</div>
<hr />
<div class="row">
<div class="col-md-12">
<p>{{recetaSeleccionada?.descripcion}}</p>
</div>
</div>
<div class="row">
<div class="col-md-12">
<ul class="list-group">
<li class="list-group-item" *ngFor="let item of
recetaSeleccionada?.ingredientes">{{item.nombre}} ({{item.cantidad}})</li>
</ul>
</div>
</div>